<section class="panel banner right">
	<div class="content color0 span-3-75">
		<h1 class="major">PEDALEANDO<br />
		con alforjas</h1>
		<p><strong>Bienvenidos</strong>, esta es mi bitácora de viaje. Podrán ver fotos, anécdotas, recorridos, y algnos consejos para pedalear!.   </p>
		<ul class="actions">
		<li><a href="./" class="button primary color1 circle icon fa-angle-left">inicio</a></li>
        <li><a href="#first" class="button primary color1 circle icon fa-angle-right">Next</a></li>
		</ul>
	</div>
	<div class="image filtered span-1-75" data-position="25% 25%">
		<img src="images/pic01.jpg" alt="" />
	</div>
</section>