<!DOCTYPE HTML>
<!--
	Blog Personal 
-->
<html>
	<head>
		<title>{{titulo}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
						{{> panel }}
					</div>		
					<div id="wrapper">
						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-7">
									<h2 class="major">MICROAVENTURA: LA GRANJA º360</h2>
									<p>Esta es una de esas vueltas en donde en muy pocos kilómetros dejás el cemento atrás y te sacás la ciudad de encima. Eso tiene Córdoba, y es lo que encontramos en sus sierras: la posibilidad real, cercana y casi instantánea, de volver a la naturaleza. Este viaje empieza en La Granja, pero al ser un recorrido circular, se puede arrancar también desde Agua de Oro o Ascochinga. Las posibilidades son muchas y los paisajes infinitos. Solo hay que mover las piernas y las ruedas.</p>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="images/pic02.jpg" alt="" />
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1">
								<div class="intro joined">
									<h2 class="major">Ficha de Ruta</h2>
									<p>Kilómetros: 82
									Lugar: Córdoba, Argentina 
									Tipo de recorrido: Circular (80% ripio / 20% asfalto)
									Itinerario: La Granja, Agua de Oro,  Candonga,  La Cumbre,  Ascochinga, La Granja
									Tiempo aproximado: 2 días / 2 noches
									Alturas:
									– Inicio: 680 m.s.n.m
									– Punto más alto: 1605 m.s.n.m
									– Fin: 680 m.s.n.m
									– Desnivel acumulado: +1610 m / -1610 m</p>
								</div>
								<div class="inner">
									         
								</div> 
							</section>

													
						<!-- Panel -->
							<section class="panel">
								<div class="intro color2">
									<h2 class="major">Recorrido de</h2>
									<p> Jime Sánchez y Andrés Calla</p> <br>
								</div>
								<div class="gallery">
									<div class="group span-3">
										<a href="images/gallery/fulls/17.jpg" class="image filtered span-3" data-position="bottom"><img src="images/gallery/thumbs/17.jpg" alt="" /></a>
										<a href="images/gallery/fulls/18.jpg" class="image filtered span-1-5" data-position="center"><img src="images/gallery/thumbs/18.jpg" alt="" /></a>
										<a href="images/gallery/fulls/20.jpg" class="image filtered span-1-5" data-position="bottom"><img src="images/gallery/thumbs/20.jpg" alt="" /></a>
									</div>
									<a href="images/gallery/fulls/19.jpg" class="image filtered span-2-5" data-position="top"><img src="images/gallery/thumbs/19.jpg" alt="" /></a>
									
									
								</div>
							</section>

						

						<!-- Panel -->
							{{> contacto}}

						<!-- Copyright -->
							<div class="copyright">&copy; Desarrollado por Lucas Gebhardt</a>.</div>

					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>