<!DOCTYPE HTML>
<!--
	Blog Personal 
-->
<html>
	<head>
		<title>{{titulo}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
						{{> panel }}
					</div>		
					<div id="wrapper">

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-7">
									<h2 class="major">Rutas</h2>
									<p>Algunas de las rutas en las que anduve, y las que en algún momento voy a andar !!</p>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="images/pic02.jpg" alt="" />
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1">
								<div class="intro joined">
									<h2 class="major">Circuito Chico (Bariloche)</h2>
									<p>es un circuito de 27 km (17 millas) a lo largo de una ruta con muchas subidas, bajadas y curvas, y se puede recorrer en bicicleta fácilmente en aproximadamente 4 horas. De pedaleo relajado, con breves paradas e incluso algunas caminatas. Los aspectos más destacados del recorrido son los dos puentes con hermosas vistas hacia los lagos Moreno y Nahuel Huapi, el famoso Punto Panorámico, Bahía López, Puerto Pañuelo, Llao Llao y la Capilla de San Eduardo.</p>
								</div>
								<div class="inner">
									         
								</div> 
							</section>

													
						<!-- Panel -->
							<section class="panel">
								<div class="intro color2">
									<h2 class="major">Marzo 2019</h2>
									<p>San carlos de Bariloche</p> <br>
								</div>
								<div class="gallery">
									<div class="group span-3">
										<a href="images/gallery/fulls/10.jpg" class="image filtered span-3" data-position="bottom"><img src="images/gallery/thumbs/10.jpg" alt="" /></a>
										<a href="images/gallery/fulls/11.jpg" class="image filtered span-1-5" data-position="center"><img src="images/gallery/thumbs/11.jpg" alt="" /></a>
										<a href="images/gallery/fulls/d.jpg" class="image filtered span-1-5" data-position="bottom"><img src="images/gallery/thumbs/d.jpg" alt="" /></a>
									</div>
									<a href="images/gallery/fulls/13.jpg" class="image filtered span-2-5" data-position="top"><img src="images/gallery/thumbs/13.jpg" alt="" /></a>
									<div class="group span-4-5">
										<a href="images/gallery/fulls/12.jpg" class="image filtered span-3" data-position="top"><img src="images/gallery/thumbs/12.jpg" alt="" /></a>
										<a href="images/gallery/fulls/a.jpg" class="image filtered span-1-5" data-position="center"><img src="images/gallery/thumbs/a.jpg" alt="" /></a>
										<a href="images/gallery/fulls/b.jpg" class="image filtered span-1-5" data-position="bottom"><img src="images/gallery/thumbs/b.jpg" alt="" /></a>
										<a href="images/gallery/fulls/c.jpg" class="image filtered span-3" data-position="top"><img src="images/gallery/thumbs/c.jpg" alt="" /></a>
										
									</div>
									
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1">
								<div class="intro joined">
									<h2 class="major">Circuito Chico (Bariloche)</h2>
									<p>es un circuito de 27 km (17 millas) a lo largo de una ruta con muchas subidas, bajadas y curvas, y se puede recorrer en bicicleta fácilmente en aproximadamente 4 horas. De pedaleo relajado, con breves paradas e incluso algunas caminatas. Los aspectos más destacados del recorrido son los dos puentes con hermosas vistas hacia los lagos Moreno y Nahuel Huapi, el famoso Punto Panorámico, Bahía López, Puerto Pañuelo, Llao Llao y la Capilla de San Eduardo.</p>
								</div>
								<div class="inner">
									         
								</div> 
							</section>

													
						<!-- Panel -->
							<section class="panel">
								<div class="intro color2">
									<h2 class="major">Próximamente</h2>
									<p>Carretera Austral (Chile)</p> <br>
								</div>
								<div class="gallery">
									<div class="group span-3">
										<a href="images/gallery/fulls/14.jpg" class="image filtered span-3" data-position="bottom"><img src="images/gallery/thumbs/14.jpg" alt="" /></a>
										<a href="images/gallery/fulls/d.jpg" class="image filtered span-1-5" data-position="center"><img src="images/gallery/thumbs/d.jpg" alt="" /></a>
										<a href="images/gallery/fulls/15.jpg" class="image filtered span-1-5" data-position="bottom"><img src="images/gallery/thumbs/15.jpg" alt="" /></a>
									</div>
									
								</div>
							</section>

						<!-- Panel -->
							{{> contacto}}

						<!-- Copyright -->
							<div class="copyright">&copy; Desarrollado por Lucas Gebhardt</a>.</div>

					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>